<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>AshTube</h1>
	<a href="/memes/new">Upload a video</a>
	<%= yield %>
</body>
</html>