<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div id="pic1"></div>
	<h1>Memetube</h1>
	<div id="pic2"></div>
	<p>Hope you enjoy your stay!</p>
<!-- 	<a href="/memes/new">Upload a video</a> -->
	<%= yield %>


</body>
</html>